.error {
	color: red;
}

.required label: after {
	color: red;
	content: ' *';
	display: inline;
}

body { 
	background-image: url("../img/homepagepic.jpg");
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	background-position: center; 
	overflow-x: hidden;
	padding-bottom: 70px;
	padding-top: 70px;
	max-width: 100%;
	max-height: 100%;
	font-family:Raleway;

}

#itemLink {
	color: black;
}

.btnNonprofit, .btnDonor {
    color:white;
    display:inline-block;
    background-color: #83af11;
    font-size:16px;
    text-align:center;
    font-weight:bold;
    height: 126px;
    width: 126px;
    border-radius: 50%;
    padding-top:45px;
	text-decoration: none;
 }

a.btnDonor:hover, a.btnNonprofit:hover  {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #008ded), color-stop(1, #1515bc));
	background: -moz-linear-gradient(top, #008ded 5%, #1515bc 100%);
	background: -webkit-linear-gradient(top, #008ded 5%, #1515bc 100%);
	background: -o-linear-gradient(top, #008ded 5%, #1515bc 100%);
	background: -ms-linear-gradient(top, #008ded 5%, #1515bc 100%);
	background: linear-gradient(to bottom, #008ded 5%, #1515bc 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008ded', endColorstr='#1515bc',GradientType=0);
	background-color: #008ded;
	color:white;
	text-decoration:none;
}


#ontop {
	position: relative;
	top: 4.6em;
	z-index: 2;
}

#gnk-navbar-center-anon {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#gnk-navbar-center-auth {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#gnk-aboutus img {
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
	height: 100px;
	background-color: white;
	border-radius: 0px 0px 50px 50px;
}

#blankspace {
	height: 40px;
	width: 100%;
}

#mainContainer {
    vertical-align: top;
	width: 75%;
	position: relative;
	background-color: rgba(255,255,255, 1);
}

h1 {
	font-size: 32pt;
	font-family: Optima;
}

h2 {
	font-size: 24pt;
	font-family: Optima;
}

h4 {
	font-family: Raleway;
	font-size: 8pt;
}

p, li {
	font-family: raleway;
	font-size: 12pt;
	
}

#gnk-slogan-row {
    margin-top: 80px;	
}

.gnk-slogan {
	font-size: 40px;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#gnk-home-btn-row {
	margin-top: 10px;
	
}
#gnk-home-btn2-row {
	margin-top: 30px;
}


.socialLinks img {
	height: 30px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.control-label .text-info { display:inline-block; }

/*a.btnDonor:hover, a.btnNonprofit:hover {
	color:white;
	text-decoration:none;
	background-color: #008ded;
}*/

